<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>passWord</key>
	<string></string>
	<key>userName</key>
	<string></string>
	<key>trackTime</key>
	<integer>0</integer>
	<key>basecampURL</key>
	<string>http://basecamphq.com</string>
	<key>useScripting</key>
	<integer>1</integer>
	<key>notifyAssignees</key>
	<integer>0</integer>
</dict>
</plist>
