<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>milestone</string>
		<key>exclude</key>
		<array>
			<string>objectId</string>
		</array>
		<key>new</key>
		<dict>
			<key>tag</key>
			<string>milestone</string>
			<key>enclosingTag</key>
			<string>request</string>
			<key>url</key>
			<dict>
				<key>format</key>
				<string>%@/projects/%@/milestones/create</string>
				<key>vars</key>
				<array>
					<string>self.basecampURL</string>
					<string>self.bcDictionary.&quot;project-id&quot;</string>
				</array>
			</dict>
		</dict>
		<key>update</key>
		<dict/>
		<key>get</key>
		<dict/>
		<key>delete</key>
		<dict/>
	</dict>
	<dict>
		<key>type</key>
		<string>todo-list</string>
		<key>exclude</key>
		<array>
			<string>todo-items</string>
			<string>objectId</string>
		</array>
		<key>new</key>
		<dict>
			<key>tag</key>
			<string>todo-list</string>
			<key>url</key>
			<dict>
				<key>format</key>
				<string>%@/projects/%@/todo_lists.xml</string>
				<key>vars</key>
				<array>
					<string>self.basecampURL</string>
					<string>self.bcDictionary.&quot;project-id&quot;</string>
				</array>
			</dict>
		</dict>
		<key>update</key>
		<dict/>
		<key>get</key>
		<dict/>
		<key>delete</key>
		<dict/>
	</dict>
	<dict>
		<key>type</key>
		<string>todo-items</string>
		<key>exclude</key>
		<array>
			<string>objectId</string>
		</array>
		<key>new</key>
		<dict>
			<key>tag</key>
			<string>todo_items</string>
			<key>url</key>
			<dict>
				<key>format</key>
				<string>%@/todo_lists/%@/todo_items.xml</string>
				<key>vars</key>
				<array>
					<string>self.basecampURL</string>
					<string>todo_list.id</string>
				</array>
			</dict>
		</dict>
		<key>update</key>
		<dict/>
		<key>get</key>
		<dict/>
		<key>delete</key>
		<dict/>
	</dict>
</array>
</plist>
